<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <p th:text="|La fecha de hoy es: ${fecha}|"></p>

    <table>
        <tr th:each="persona : ${lista}">
            <td th:text="${persona.nombre} + ' ' + ${persona.apellido}"></td>
            <td th:text="${persona.correo}"></td>
            <td th:text="${persona.sexo}"></td>
        </tr>
    </table>
    <a href="lista">Volver</a>
</body>
</html>