<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anuncio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Formulario</h2>
    <form action="anuncio" method="get">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre:"><br><br>
        <label for="asunto">Asunto:</label>
        <input type="text" id="asunto" name="asunto" placeholder="Escribe el asunto"><br><br>
        <label for="cuerpo">Cuerpo:</label>
        <textarea id="cuerpo" name="cuerpo" placeholder="Escribe el mensaje"></textarea><br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>


